.main__appointments {
  display: table;
  text-align: center;

  li {
    display: table-row;

    span {
      display: table-cell;
    }
  }
}

.listHeading {
  background-color: #333;
  color: #fff;
}
