@import './variables.scss';

.menuitem {
  font-size: 22px;
}

.menuitem__link {
  width: 210px;
  color: $text-color;

  svg {
    margin-right: 10px;
    color: $secondary-color;
  }

  &:hover {
    color: $secondary-color;
    font-weight: bolder;
  }
}

@media (min-width: $breakpoint-tablet) {
  .menuitem {
    font-size: 20px;
  }
}
